.root {
  margin: 8px; /* Equivalent to theme.spacing(1) */
}

.MuiTextField-root {
  margin: 8px; /* Equivalent to theme.spacing(1) */
}

.paper {
  padding: 16px; /* Equivalent to theme.spacing(2) */
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fileInput {
  width: 97%;
  margin: 10px 0;
}

.buttonSubmit {
  margin-bottom: 10px;
}
